
li a {
    line-height:30px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: whitesmoke;
    background-color: #111;
}

.active {
    color:black;
    background-color: white;
}