<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <style>
      body{
          background-color:#ccc
        }
        .container{
            margin-top: 10%;
            margin-left:5%;
        }
    </style>
</head>

<body>
<div class="container">

    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Please Login.</h4>
                <input type="text" id="userName" class="form-control input-sm chat-input"
                       placeholder="user name or e-mail"/>
                <input type="password" id="userPassword" class="form-control input-sm chat-input"
                       placeholder="password"/>
                <div class="wrapper">
                    <span class="group-btn">
                        <a href="#" id="btnSubmit" class="btn btn-primary btn-md pull-right">Login <i class="fa fa-sign-in"></i></a>
                     </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" hidden="hidden" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:src="@{js/jquery-3.2.0.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/login.js}"></script>
</body>
</html>