<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
    <link th:href="@{//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/css/style.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet"/>
</head>
<body>


    <div class="text-center" style="margin-bottom: 20px">
        <div th:style="'margin: 0 auto;background-color: rgba(47, 51, 62, 1);width:1000px'"  class=" panel panel-color panel-danger panel-pages panel-shadow" >
           <p style="color: white">
               © 版权所有 CygnusMoci 保留一切权利
           </p>
        </div>
    </div>


</body>
</html>