<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:with="tab='TimeSheetTable'">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script th:src="@{js/common/jquery-3.2.0.min.js}"></script>
    <script th:src="@{js/common/bootstrap.min.js}"></script>
    <link rel="shortcut icon" th:href="@{images/logo/logo.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/common/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/manager/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/manager/ManuLayout.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/modifyPassword/common.css}"/>

    <title>Document</title>
    <style>
        .select-show {
            position: relative;
            width: 40%;
            height: 25px;
            background: white;
            border-radius: 5px;
            box-shadow: 1px 1px 5px #000000;
            display: inline-block;
            text-decoration: none;
            padding-left: 20px;
            margin-bottom: 5%;
        }

        .div-show {
            margin-bottom: 350px;
            border-radius: 5px;
            box-shadow: 1px 1px 5px #000000;
            width: 120%;
        }

        .btn-show {
            color: #fff;
            background-color: #d9534f;
            border-radius: 2px;
            box-shadow: 0px 0px 4px #868282;
            border: 1px solid transparent;
            width: 100%;
        }

    </style>


</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- 最上面的导航栏 -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <!--西门子logo-->
            <div class="brand">
                <a href="#">
                    <img th:src="@{images/logo/simensLogo.jpg}" alt="Klorofil Logo" class="img-responsive logo"
                         style="height: 30px"/>
                </a>
            </div>

            <div class="container-fluid">
                <!--伸缩垂直导航栏箭头-->
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="glyphicon glyphicon-arrow-left"></i>
                    </button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span style="font-size: 20px"
                                                                                              th:text="${nickName}">名字</span>
                                <i class="icon-submenu glyphicon glyphicon-hand-up"></i></a>
                            <ul class="dropdown-menu">
                                <li id="logout"><a href="#"><i class="glyphicon glyphicon-off"></i> <span>Logout</span></a>
                                </li>
                                <li id="pop"><a href="#"><i class="glyphicon glyphicon-off"></i>
                                    <span>ModifyPassword</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="demo">
                <div id="dialogBg"></div>
                <div id="dialog" class="animated">
                    <img class="dialogIco" width="50" height="50" src="images/logo/logo.png" alt=""/>
                    <div class="dialogTop">
                        <a href="javascript:;" class="close">关闭</a>
                    </div>
                    <div id="editForm">
                        <ul class="editInfos">
                            <li><input type="password" id="oldPassword" autofocus="autofocus" required=""
                                       name="oldPassword"
                                       value=""
                                       class="ipt"
                                       placeholder="old password:"/>
                            </li>
                            <li><input type="password" id="newPassword1" autofocus="autofocus" required=""
                                       name="newPassword1"
                                       value=""
                                       class="ipt"
                                       placeholder="new password:"/>
                            </li>
                            <li><input type="password" id="newPassword2" autofocus="autofocus" required=""
                                       name="newPassword2"
                                       value=""
                                       class="ipt"
                                       placeholder="confirm password:"/>
                            </li>
                            <li>
                                <button class="btnSubmit" autofocus="autofocus"
                                        onkeydown="if(event.keyCode==13){btnSubmit.click()}">确认提交
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->

        <!-- 侧边栏 -->
        <div id="sidebar-nav" class="sidebar">
            <div id="changCard" class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li onclick="showOne()"><a href="#" class=""><i class="glyphicon glyphicon-home"></i>
                            <span>HOME</span></a></li>
                        <!--<li ><a href="#" class=""><i class="glyphicon glyphicon-user"></i> <span>Edit Admin</span></a></li>-->
                        <li onclick="po()"><a href="#" class=""><i class="glyphicon glyphicon-edit"></i> <span>Edit Project</span></a>
                        </li>
                        <li onclick="to()"><a href="#" class=""><i class="glyphicon glyphicon-edit"></i>
                            <span>Edit Task</span></a></li>
                        <li onclick="tbo()"><a href="#" class=""><i class="glyphicon glyphicon-th-list"></i> <span>EXPORT EXCEL</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->

        <!-- MAIN -->
        <div>
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div style="margin-top: 100px">
                    <div style="overflow: auto;margin-left: 25%">
                        <div id="showOne" class="show" style="position:absolute;">
                            <div th:replace="PieChart::PieChart"></div>
                        </div>
                        <div id="project" class="hide" style="position:absolute;">
                            <div th:replace="editProject::editProject"></div>
                        </div>
                        <div id="task" class="hide" style="position:absolute;">
                            <div th:replace="editTask::editTask"></div>
                        </div>
                        <div id="table" class="hide" style="">
                            <div th:replace="TimeSheetTable::TimeSheetTable"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>

        <!-- END MAIN -->
        <!--<div class="clearfix"></div>-->


        <footer>
            <div class="container-fluid">
                <p class="copyright">Copyright &copy; 2017.Siemens All rights reserved.<a target="_blank"
                                                                                          href="http://www.siemens.com.cn">SIEMENS;</a>
                </p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->

    <script th:src="@{js/admin/MenuLayout.js}"></script>
    <script th:src="@{js/admin/index.js}"></script>
    <script th:src="@{js/common/jquery-3.2.0.min.js}"></script>
    <script th:src="@{js/logout/logout.js}"></script>
    <script th:src="@{js/common/md5.js}"></script>
    <script th:src="@{js/modifyPassword/modifyPassword.js}"></script>
    <script th:src="@{js/TimeSheet/FileSaver.min.js}"></script>
    <script th:src="@{js/TimeSheet/tableExport.min.js}"></script>
    <script th:src="@{js/PieChart/highcharts.js}"></script>
</body>
</html>