<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="TimeSheetTable">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
    <script type="text/javascript" th:src="@{js/TimeSheet/FileSaver.min.js}"></script>
    <script type="text/javascript" th:src="@{js/TimeSheet/tableExport.min.js}"></script>
    <script type="text/javascript" th:src="@{js/TimeSheet/TimeSheet.js}"></script>
    <link th:href="@{css/TimeSheet.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div align="center" class="form-group">
        <select id="weekid">

        </select>
    </div>
    <div align="center">
        <button id="GetTable" class="btn btn-danger btn-lg btn-rounded btn-block w-lg waves-effect waves-light"
                style="box-shadow: 0px 0px 4px #868282;">GetTable
        </button>
    </div>
    <button onclick="$('.oa').tableExport({type:'excel', excelstyles:['border-bottom', 'border-top', 'border-left', 'border-right']});">
        Export Excel
    </button>
    <table id="OATable" class="oa" border="1" cellpadding="5" cellspacing="0" frame="box">
        <caption>OA</caption>
        <thead>
        <tr id="head" align="center"></tr>
        </thead>
        <tbody id="body">

        </tbody>
        <tfoot>
        <tr id="foot" align="center"></tr>
        </tfoot>
    </table>
</body>
</html>